<a href="https://colab.research.google.com/github/phatlt17420/Python_BA/blob/master/DoAn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [ ]:
df = pd.read_excel("Dataset.xlsx")
df

,YEAR,BANK,CUS,ROA,ROE,NIM,DEP,CASH,LGAP,NPL,SIZE,CR3,VCSH,RRTD,GDP,INF
0,2018,ABB,ABB2018,0.008194,0.110093,0.032627,0.761632,0.139490,-0.190148,0.023422,18.284294,0.437586,0.074426,0.006374,0.070758,0.035394
1,2009,ABB,ABB2009,0.015578,0.073807,0.043999,0.742687,0.462718,-0.198323,0.024272,16.811548,0.443493,0.211059,0.007698,0.053979,0.070546
2,2017,ABB,ABB2017,0.006161,0.081738,0.037870,0.780668,0.197173,-0.222004,0.027180,18.189219,0.452310,0.075381,0.011413,0.068122,0.035203
3,2010,ABB,ABB2010,0.015376,0.108547,0.047665,0.788100,0.298168,-0.242703,0.013691,17.289552,0.402135,0.141657,0.005776,0.064232,0.088616
4,2011,ABB,ABB2011,0.007719,0.065501,0.065404,0.747739,0.232049,-0.243431,0.019986,17.498845,0.383013,0.117843,0.029036,0.062403,0.186755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316,2013,VPB,VPB2013,0.009088,0.131702,0.059327,0.732269,0.135112,-0.311674,0.028029,18.533730,0.414936,0.064464,0.023214,0.054219,0.065923
317,2012,VPB,VPB2012,0.006937,0.095899,0.049344,0.701148,0.311961,-0.314903,0.023484,18.345370,0.418736,0.068496,0.012231,0.052474,0.090942
318,2017,VTB,VTB2017,0.006710,0.078832,0.023821,0.878382,0.135369,-0.146414,0.014735,17.482040,0.452310,0.081758,0.001782,0.068122,0.035203
319,2018,VTB,VTB2018,0.006909,0.071444,0.027318,0.865519,0.181519,-0.164647,0.013055,17.657171,0.437586,0.084073,0.002491,0.070758,0.035394
320,2016,VTB,VTB2016,0.001926,0.021893,0.015392,0.897503,0.111149,-0.171947,0.016369,17.366980,0.447359,0.083430,0.002982,0.062108,0.032436

In [ ]:
df.describe(include='all')

,YEAR,BANK,CUS,ROA,ROE,NIM,DEP,CASH,LGAP,NPL,SIZE,CR3,VCSH,RRTD,GDP,INF
count,321.000000,321,321,321.000000,321.000000,321.000000,321.000000,321.000000,321.000000,3.210000e+02,321.000000,321.000000,321.000000,321.000000,321.000000,321.000000
unique,NaN,31,321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,ABB,VTB2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,11,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,2013.074766,NaN,NaN,0.009021,0.084573,0.038600,0.750049,0.220640,-0.206748,2.231160e-02,18.003507,0.433995,0.105141,0.010970,0.061104,0.079406
std,3.133591,NaN,NaN,0.008355,0.080519,0.016937,0.080868,0.126600,0.122962,1.252841e-02,1.232005,0.032109,0.051797,0.009056,0.005912,0.063837
min,2008.000000,NaN,NaN,-0.059929,-0.820021,-0.015160,0.429914,0.047361,-0.698198,5.802364e-08,14.497839,0.383013,0.033521,-0.013367,0.052474,0.008786
25%,2010.000000,NaN,NaN,0.004248,0.035571,0.027817,0.694157,0.132856,-0.283034,1.400164e-02,17.043560,0.414936,0.071142,0.005068,0.054219,0.035203
50%,2013.000000,NaN,NaN,0.007743,0.077741,0.036403,0.757334,0.188523,-0.214794,2.087028e-02,18.056905,0.437586,0.089842,0.008486,0.062108,0.065923
75%,2016.000000,NaN,NaN,0.013239,0.127940,0.047384,0.812826,0.297587,-0.137525,2.759999e-02,18.921398,0.447359,0.127655,0.015015,0.066793,0.090942
max,2018.000000,NaN,NaN,0.055426,0.284644,0.113631,0.897503,0.960377,0.078293,7.232749e-02,20.952519,0.517284,0.337580,0.056561,0.070758,0.231163

In [2]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

# -----------------------------------------------------------
# BÆ¯á»šC 1: CHUáº¨N Bá»Š Dá»® LIá»†U
# -----------------------------------------------------------
df = pd.read_excel("Dataset.xlsx")
df.rename(columns={'INF': 'INFLATION'}, inplace=True)

# Danh sÃ¡ch Ä‘áº§y Ä‘á»§ cÃ¡c biáº¿n tiá»m nÄƒng
all_features = ['SIZE', 'NPL', 'DEP', 'CASH', 'INFLATION', 'GDP', 'CR3', 'LGAP', 'VCSH', 'RRTD']

# Biáº¿n dummy cho ngÃ¢n hÃ ng (Ä‘á»ƒ dÃ¹ng cho cáº£ Há»“i quy vÃ  ML)
df_encoded = pd.get_dummies(df, columns=['BANK'], drop_first=True)
bank_cols = [c for c in df_encoded.columns if c.startswith('BANK_')]

# -----------------------------------------------------------
# BÆ¯á»šC 2: KINH Táº¾ LÆ¯á»¢NG (SÃ€NG Lá»ŒC BIáº¾N CHO ROA & ROE)
# -----------------------------------------------------------
def analyze_and_select_features(target_col):
    print(f"\n{'='*40}")
    print(f"PHÃ‚N TÃCH TÃC Äá»˜NG Äáº¾N: {target_col}")
    print(f"{'='*40}")

    # 1. Cháº¡y mÃ´ hÃ¬nh FEM Robust (Kháº¯c phá»¥c lá»—i mÃ´ hÃ¬nh)
    formula = f"{target_col} ~ {' + '.join(all_features)} + C(BANK)"
    # Táº¡o biáº¿n group id cho cluster
    groups = df['BANK'].astype('category').cat.codes
    model = smf.ols(formula, data=df).fit(cov_type='cluster', cov_kwds={'groups': groups})

    # 2. Lá»c ra cÃ¡c biáº¿n cÃ³ Ã½ nghÄ©a thá»‘ng kÃª (P-value < 0.1)
    # Láº¥y báº£ng p-value, bá» qua cÃ¡c biáº¿n dummy C(BANK)
    p_values = model.pvalues
    sig_vars = p_values[(p_values < 0.1) & (~p_values.index.str.contains("BANK")) & (p_values.index != "Intercept")]
    selected = list(sig_vars.index)

    print(f"-> CÃ¡c yáº¿u tá»‘ tÃ¡c Ä‘á»™ng cÃ³ Ã½ nghÄ©a (P < 0.1): {selected}")

    # In chiá»u hÆ°á»›ng tÃ¡c Ä‘á»™ng (DÆ°Æ¡ng/Ã‚m)
    coeffs = model.params[selected]
    for var, coef in coeffs.items():
        direction = "TÄ‚NG (+)" if coef > 0 else "GIáº¢M (-)"
        print(f"   - {var}: {direction} (Há»‡ sá»‘: {coef:.4f})")

    return selected, model

# Thá»±c hiá»‡n phÃ¢n tÃ­ch
selected_vars_roa, model_roa = analyze_and_select_features('ROA')
selected_vars_roe, model_roe = analyze_and_select_features('ROE')

# Há»£p nháº¥t danh sÃ¡ch biáº¿n quan trá»ng (Láº¥y táº­p há»£p cÃ¡c biáº¿n áº£nh hÆ°á»Ÿng Ä‘áº¿n Ã­t nháº¥t 1 trong 2)
# Äiá»u nÃ y giÃºp mÃ´ hÃ¬nh dá»± bÃ¡o cÃ³ cÃ¡i nhÃ¬n tá»•ng quan
final_features = list(set(selected_vars_roa + selected_vars_roe))
print(f"\n=> DANH SÃCH BIáº¾N ÄÆ¯á»¢C CHá»ŒN Äá»‚ Dá»° BÃO: {final_features}")

# -----------------------------------------------------------
# BÆ¯á»šC 3: MACHINE LEARNING (Dá»° BÃO Káº¾T Há»¢P)
# -----------------------------------------------------------
print(f"\n{'='*40}")
print(f"HUáº¤N LUYá»†N MÃ” HÃŒNH Dá»° BÃO (RANDOM FOREST)")
print(f"{'='*40}")

# HÃ m huáº¥n luyá»‡n
def train_prediction_model(target_col, features_list):
    # Chá»‰ dÃ¹ng biáº¿n quan trá»ng + biáº¿n Bank
    X = df_encoded[features_list + bank_cols]
    y = df_encoded[target_col]

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    rf = RandomForestRegressor(n_estimators=200, random_state=42)
    rf.fit(X_train, y_train)

    score = r2_score(y_test, rf.predict(X_test))
    print(f"-> MÃ´ hÃ¬nh dá»± bÃ¡o {target_col}: Äá»™ chÃ­nh xÃ¡c (R2) = {score:.2%}")
    return rf

# Huáº¥n luyá»‡n 2 mÃ¡y
rf_roa = train_prediction_model('ROA', final_features)
rf_roe = train_prediction_model('ROE', final_features)

# -----------------------------------------------------------
# BÆ¯á»šC 4: á»¨NG Dá»¤NG - MÃ” PHá»ŽNG Ká»ŠCH Báº¢N (WHAT-IF)
# -----------------------------------------------------------
def simulate_scenario(bank_name, changes_dict):
    """
    bank_name: MÃ£ ngÃ¢n hÃ ng (VD: 'VCB')
    changes_dict: Dictionary cÃ¡c giÃ¡ trá»‹ muá»‘n thay Ä‘á»•i (VD: {'NPL': 0.01})
    """
    # Láº¥y dá»¯ liá»‡u máº«u cá»§a ngÃ¢n hÃ ng Ä‘Ã³ (dÃ²ng gáº§n nháº¥t)
    try:
        idx = df[df['BANK'] == bank_name].index[-1]
        input_data = df_encoded.loc[[idx], final_features + bank_cols].copy()
    except:
        print("KhÃ´ng tÃ¬m tháº¥y ngÃ¢n hÃ ng!")
        return

    # Cáº­p nháº­t cÃ¡c thay Ä‘á»•i
    print(f"\n--- Ká»ŠCH Báº¢N MÃ” PHá»ŽNG CHO {bank_name} ---")
    for var, val in changes_dict.items():
        if var in input_data.columns:
            print(f"   Thay Ä‘á»•i {var}: Tá»« {input_data[var].values[0]:.4f} -> {val:.4f}")
            input_data[var] = val

    # Dá»± bÃ¡o
    pred_roa = rf_roa.predict(input_data)[0]
    pred_roe = rf_roe.predict(input_data)[0]

    print(f"-> Káº¾T QUáº¢ Dá»° BÃO:")
    print(f"   ROA dá»± kiáº¿n: {pred_roa:.4f} ({pred_roa*100:.2f}%)")
    print(f"   ROE dá»± kiáº¿n: {pred_roe:.4f} ({pred_roe*100:.2f}%)")

    # Nháº­n xÃ©t nhanh vá» Ä‘Ã²n báº©y
    leverage = pred_roe / pred_roa if pred_roa > 0 else 0
    print(f"   ÄÃ²n báº©y tÃ i chÃ­nh ngá»¥ Ã½: {leverage:.2f} láº§n")

# --- CHáº Y THá»¬ NGHIá»†M ---
# Giáº£ sá»­: Giáº£m Ná»£ xáº¥u xuá»‘ng 1.5% (0.015) vÃ  TÄƒng vá»‘n chá»§ sá»Ÿ há»¯u lÃªn 12% (0.12)
simulate_scenario('VCB', {'NPL': 0.015, 'VCSH': 0.12})
simulate_scenario('VPB', {'NPL': 0.02, 'VCSH': 0.10})

========================================
PHÃ‚N TÃCH TÃC Äá»˜NG Äáº¾N: ROA
========================================
-> CÃ¡c yáº¿u tá»‘ tÃ¡c Ä‘á»™ng cÃ³ Ã½ nghÄ©a (P < 0.1): ['NPL', 'DEP', 'CASH', 'LGAP', 'VCSH']
   - NPL: GIáº¢M (-) (Há»‡ sá»‘: -0.1385)
   - DEP: GIáº¢M (-) (Há»‡ sá»‘: -0.0130)
   - CASH: TÄ‚NG (+) (Há»‡ sá»‘: 0.0133)
   - LGAP: TÄ‚NG (+) (Há»‡ sá»‘: 0.0255)
   - VCSH: TÄ‚NG (+) (Há»‡ sá»‘: 0.0422)

========================================
PHÃ‚N TÃCH TÃC Äá»˜NG Äáº¾N: ROE
========================================
-> CÃ¡c yáº¿u tá»‘ tÃ¡c Ä‘á»™ng cÃ³ Ã½ nghÄ©a (P < 0.1): ['NPL', 'CASH', 'LGAP', 'VCSH']
   - NPL: GIáº¢M (-) (Há»‡ sá»‘: -1.1883)
   - CASH: TÄ‚NG (+) (Há»‡ sá»‘: 0.1213)
   - LGAP: TÄ‚NG (+) (Há»‡ sá»‘: 0.2540)
   - VCSH: GIáº¢M (-) (Há»‡ sá»‘: -0.3248)

=> DANH SÃCH BIáº¾N ÄÆ¯á»¢C CHá»ŒN Äá»‚ Dá»° BÃO: ['NPL', 'DEP', 'CASH', 'VCSH', 'LGAP']

========================================
HUáº¤N LUYá»†N MÃ” HÃŒNH Dá»° BÃO (RANDOM FOREST)
========================================
-> MÃ´ hÃ¬nh dá»± bÃ¡o ROA: Äá»™ chÃ­nh xÃ¡c (R2) = 47.48%
-> MÃ´ hÃ¬nh dá»± bÃ¡o ROE: Äá»™ chÃ­nh xÃ¡c (R2) = 54.83%

--- Ká»ŠCH Báº¢N MÃ” PHá»ŽNG CHO VCB ---
   Thay Ä‘á»•i NPL: Tá»« 0.0412 -> 0.0150
   Thay Ä‘á»•i VCSH: Tá»« 0.0651 -> 0.1200
-> Káº¾T QUáº¢ Dá»° BÃO:
   ROA dá»± kiáº¿n: 0.0126 (1.26%)
   ROE dá»± kiáº¿n: 0.1075 (10.75%)
   ÄÃ²n báº©y tÃ i chÃ­nh ngá»¥ Ã½: 8.51 láº§n

--- Ká»ŠCH Báº¢N MÃ” PHá»ŽNG CHO VPB ---
   Thay Ä‘á»•i NPL: Tá»« 0.0235 -> 0.0200
   Thay Ä‘á»•i VCSH: Tá»« 0.0685 -> 0.1000
-> Káº¾T QUáº¢ Dá»° BÃO:
   ROA dá»± kiáº¿n: 0.0106 (1.06%)
   ROE dá»± kiáº¿n: 0.1060 (10.60%)
   ÄÃ²n báº©y tÃ i chÃ­nh ngá»¥ Ã½: 9.95 láº§n