In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('StudentPerformance.csv')

In [4]:
df

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,20.133780,87.748828,NaN,High,No,6.818565,64.164329,Low,Yes,0.459526,Low,Medium,Public,Positive,3.213625,No,High School,Near,Male,68.294324
1,20.318256,64.878034,Low,Medium,No,8.539798,165.163758,Low,NaN,NaN,Medium,Medium,Public,Negative,4.016939,No,College,Moderate,Female,61.096201
2,24.705809,98.103899,Medium,Medium,Yes,6.750286,88.150310,Medium,Yes,1.741809,Medium,Medium,Public,Neutral,3.861902,No,Postgraduate,Near,Male,72.833924
3,28.164164,92.454342,Low,Medium,Yes,8.519461,97.548916,Medium,Yes,0.607845,Medium,Medium,Public,Negative,4.417922,No,High School,Moderate,Male,72.437468
4,20.408266,95.706999,Medium,Medium,Yes,NaN,63.039775,Medium,Yes,9.210245,Medium,High,Public,Neutral,3.755389,No,College,Near,NaN,68.588268
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6602,26.783090,74.055239,High,Medium,No,6.849163,73.071764,Medium,Yes,0.959826,High,Medium,Public,Positive,1.591016,No,High School,Near,Female,69.704167
6603,23.654902,80.915760,High,Medium,No,8.074177,85.003275,Medium,Yes,3.181181,Low,High,Public,Positive,1.931683,No,High School,Near,Female,69.254816
6604,24.734519,91.645304,Medium,Low,Yes,5.412944,68.686526,Low,Yes,2.735350,Low,Medium,Public,Negative,1.785598,No,Postgraduate,Near,Female,67.832658
6605,9.366069,89.310428,High,High,Yes,6.100144,95.997520,High,Yes,1.780556,NaN,Medium,Private,Positive,2.543464,No,High School,Far,Female,66.655225
6606,13.947214,69.778190,Medium,Low,Yes,NaN,97.499761,Medium,Yes,0.039049,Medium,Medium,Public,Positive,NaN,No,NaN,Near,Male??,64.243624