In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../Dataset/hw_25000.csv')

In [3]:
df

       Index   Height(Inches)   Weight(Pounds)
0          1         65.78331         112.9925
1          2         71.51521         136.4873
2          3         69.39874         153.0269
3          4         68.21660         142.3354
4          5         67.78781         144.2971
...      ...              ...              ...
24995  24996         69.50215         118.0312
24996  24997         64.54826         120.1932
24997  24998         64.69855         118.2655
24998  24999         67.52918         132.2682
24999  25000         68.87761         124.8742

[25000 rows x 3 columns]

In [14]:
df_new = df.head(250)

In [15]:
df_new

     Index   Height(Inches)   Weight(Pounds)
0        1         65.78331         112.9925
1        2         71.51521         136.4873
2        3         69.39874         153.0269
3        4         68.21660         142.3354
4        5         67.78781         144.2971
..     ...              ...              ...
245    246         69.89473         115.6752
246    247         69.83048         134.7905
247    248         65.39790         120.5746
248    249         68.32214         120.0835
249    250         65.93895          84.3598

[250 rows x 3 columns]

In [17]:
df_new[' Weight(Pounds)'].min()

np.float64(84.3598)

In [18]:
df_new[' Weight(Pounds)'].max()

np.float64(158.9562)

In [19]:
df_new[' Height(Inches)'].min()

np.float64(63.42577)

In [20]:
df_new[' Height(Inches)'].max()

np.float64(73.90107)

In [37]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Index            250 non-null    int64
 1    Height(Inches)  250 non-null    float64
 2    Weight(Pounds)  250 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 6.0 KB

In [48]:
df_new.columns = df_new.columns.str.strip()

In [50]:
df_new['Height(m)'] = df_new['Height(Inches)'] * 0.0254

C:\Users\phatlt17420\AppData\Local\Temp\ipykernel_9588\559285571.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['Height(m)'] = df_new['Height(Inches)'] * 0.0254

In [56]:
df_new['Weight(kg)'] = df_new['Weight(Pounds)'] * 0,45359237

ValueError: Length of values (2) does not match length of index (250)

In [57]:
# làm tiếp phần matplotlib nhưng sử dụng pandas