In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas.io.sas.sas_constants import dataset_length

In [2]:
data_df = pd.read_csv('../Dataset/Data.csv')

In [3]:
data_df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [4]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 452.0+ bytes

In [8]:
for col in data_df.columns:
    missing_data = data_df[col].isna().sum()
    missing_percent = (missing_data/ len(data_df)) *100
    print(f'Column: {col}: has {missing_percent}%')

Column: Country: has 0.0%
Column: Age: has 10.0%
Column: Salary: has 10.0%
Column: Purchased: has 0.0%